.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 52px;
  overflow: hidden;
}

.constructor-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.constructor-list-empty:before {
  content: 'Перенесите сюда еду';
  height: 100%;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed #8585ad;
  font-size: 30px;
  transition: background 0.25s ease-out;
}

.constructor-list-hover:before {
  background: #27272d;
}

.selected-list {
  overflow: auto;
}

.selected-list::-webkit-scrollbar {
  width: 8px;
}
.selected-list::-webkit-scrollbar-track {
  background: #2F2F37;
}
.selected-list::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: calc(var(--offset-base-size) * 2);
}

.sum {
  display: flex;
  align-items: center;
}

.sum svg {
  width: 36px;
  height: 36px;
}

.value {
  font-size: 48px;
}