.card {
  position: relative;
  width: calc(50% - var(--offset-base-size) * 4);
  text-align: center;
  cursor: pointer;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}