.card {
  position: relative;
  width: calc(50% - var(--offset-base-size) * 4);
  text-align: center;
  cursor: pointer;
}

.cardActive {
  composes: card;
  background: rgba(255, 255, 255, 0.02);
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}