.main {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  overflow: hidden;
}

.cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  overflow: hidden;
}

.section {
  overflow: auto;
}

.section:first-child {
  padding-right: 8px;
}

.section:last-child {
  padding-left: 20px;
}

.section::-webkit-scrollbar {
  width: 8px;
}
.section::-webkit-scrollbar-track {
  background: #2F2F37;
  margin-bottom: 52px;
}
.section::-webkit-scrollbar-thumb {
  background: #8585AD;
}